@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* news */
.consult-blog-sc {
    display: flex;
    flex-wrap: wrap;
}

.consult-blog-sc .sc-blog-item {
    .clearfix();
    .sc-blog-image {
        margin-bottom: 20px;
    }

    .sc-blog-image img {
        border-radius: 5px;
    }

    .blog-post-content {
        padding: 0;
        background: none;
    }

    .post-tit {
        line-height: 20px;
    }

    .posted_date span {
        padding-right: 3px;
    }

    .blog-post-sumary {
        max-height: 50px;
        overflow: hidden;
    }
}

/* blog style 2 */
.consult-blog-sc.consult-blog-style-2 .blog-post-content .post-tit {
    line-height: 18px;
    margin-bottom: 0;
}

.consult-blog-sc.consult-blog-style-2 .blog-post-content .post-tit a {
    font-size: 14px;
}

.consult-blog-sc.consult-blog-style-2 .blog-post-info li {
    font-size: 12px;
}

.consult-blog-sc.consult-blog-style-2 .sc-blog-item {
    margin-bottom: 0px;
}

/* blog style 3 */
.consult-blog-sc.consult-blog-style-3 .sc-blog-item {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .sc-blog-image {
        width: 170px;
        margin-right: 30px;
    }

    .blog-post-content {
        .calc(max-width; '100% - 200px');

        @media (max-width: 767px) {
            .calc(max-width; '100% - 0px');
        }
    }
}

/* latest news tabs */
.latest-news-tabs .vc_tta-tabs-container {
    margin-top: -40px;

    @media (max-width: 767px) {
        margin-top: 0;
    }
}

.latest-news-tabs .vc_tta-tabs-list {
    text-align: right;
}

.latest-news-tabs .blog-news-item {
    padding-right: 60px;
}




/* FOOTER */

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  .theme-footer {
    background-color: #03111b;
    padding: 70px 0;
    color: #ffffff;
  }
  
  .theme-footer-widget {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-widget-it {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-widget-it h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    color: #ffffff;
  }
  
  .footer-widget-it h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-widget-it ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-widget-it ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-widget-it ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-widget-it .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-widget-it .social-links a:hover {
    color: #03111b;
    background-color: #ffffff;
  }
  
  .coppy-right {
    background-color: #03111b;
    color: #ffffff;
    padding: 20px 0;
  }
  
  .coppy-right span {
    flex-grow: 1;
  }
  
  .scroll-to-top {
    cursor: pointer;
    text-align: right;
  }
  
  .scroll-to-top span {
    display: block;
  }
  
  /* Responsive */
  @media (max-width: 767px) {
    .footer-widget-it {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer-widget-it {
      width: 100%;
    }
  }
  




